default:
  app:
    annotations:
      argocd.argoproj.io/sync-wave: "5"
      argo.octopus.com/environment: Development
      argo.octopus.com/project: default
    enabled: true
    enableAutoSync: true
    autoSyncPrune: true
    destination:
      namespace: argocd
      server: https://kubernetes.default.svc
    project: default
    source:
      repoURL: https://github.com/mra89/argocd-demo.git
      targetRevision: HEAD
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
      - PrunePropagationPolicy=foreground
      - ServerSideApply=true
      - FailOnSharedResource=true
      - RespectIgnoreDifferences=true

applications:
  argocd:
    annotations:
      argocd.argoproj.io/sync-wave: "0"
    source:
      path: overlays/local/argocd
    destination:
      namespace: argocd

  argo-rollouts:
    source:
      path: overlays/local/argo-rollouts
    destination:
      namespace: argo-rollouts

  eniconfig:
    enableAutoSync: false
    source:
      path: overlays/local/eniconfig

  grafana:
    source:
      path: overlays/local/grafana
    destination:
      namespace: grafana

  headlamp:
    source:
      path: overlays/local/headlamp
    destination:
      namespace: headlamp

  ingress-nginx:
    annotations:
      argocd.argoproj.io/sync-wave: "0"
    source:
      path: overlays/local/ingress-nginx
    destination:
      namespace: ingress-nginx

  kargo:
    source:
      path: overlays/local/kargo
    destination:
      namespace: kargo

  kyverno:
    source:
      path: overlays/local/kyverno
    destination:
      namespace: kyverno

  kyverno-policies:
    annotations:
      argocd.argoproj.io/sync-wave: "10"
    source:
      path: overlays/local/kyverno-policies
    destination:
      namespace: kyverno

  prometheus:
    source:
      path: overlays/local/prometheus
    destination:
      namespace: prometheus

  policy-reporter:
    source:
      path: overlays/local/policy-reporter
    destination:
      namespace: policy-reporter

  rollout-demo:
    source:
      path: overlays/local/rollout-demo
    destination:
      namespace: rollout-demo