default:
  app:
    enabled: true
    enableAutoSync: true
    autoSyncPrune: true
    destination:
      namespace: argocd
      server: https://kubernetes.default.svc
    project: default
    source:
      repoURL: https://github.com/mra89/argocd-demo.git
      targetRevision: HEAD
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
      - PrunePropagationPolicy=foreground
      - ServerSideApply=true
      - FailOnSharedResource=true
      - RespectIgnoreDifferences=true

applications:
  argocd:
    source:
      path: overlays/local/argocd
    destination:
      namespace: argocd

  argo-rollouts:
    source:
      path: overlays/local/argo-rollouts
    destination:
      namespace: argo-rollouts

  grafana:
    source:
      path: overlays/local/grafana
    destination:
      namespace: grafana

  ingress-nginx:
    source:
      path: overlays/local/ingress-nginx
    destination:
      namespace: ingress-nginx

  kyverno:
    source:
      path: overlays/local/kyverno
    destination:
      namespace: kyverno

  prometheus:
    source:
      path: overlays/local/prometheus
    destination:
      namespace: prometheus

  rollout-demo:
    source:
      path: overlays/local/rollout-demo
    destination:
      namespace: rollout-demo