default:
  app:
    enabled: true
    enableAutoSync: true
    autoSyncPrune: true
    destination:
      namespace: argocd
      server: https://kubernetes.default.svc
    project: default
    source:
      repoURL: https://github.com/mra89/argocd-demo.git
      targetRevision: HEAD
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
      - PrunePropagationPolicy=foreground
      - ServerSideApply=true
      - FailOnSharedResource=true
      - RespectIgnoreDifferences=true

applications:
  argocd:
    source:
      path: overlays/local/argocd
    destination:
      namespace: argocd

  grafana:
    source:
      path: overlays/local/grafana
    destination:
      namespace: grafana

  ingress-nginx:
    enableAutoSync: false
    source:
      path: overlays/local/ingress-nginx
    destination:
      namespace: ingress-nginx

  prometheus:
    enableAutoSync: false
    source:
      path: overlays/local/prometheus
    destination:
      namespace: prometheus