apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: grafana
    version: 10.0.0
    repo: https://prometheus-community.github.io/helm-charts
    releaseName: grafana
    namespace: grafana
    valuesFile: values.yaml
resources:
  - secret.yaml