apiVersion: v1
kind: Service
metadata:
  name: rollouts-demo
  namespace: rollout-demo
spec:
  clusterIP: 10.96.180.251
  clusterIPs:
  - 10.96.180.251
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: rollouts-demo
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}